@charset "utf-8";
/* CSS Document */
.GGG{
	text-align:center;
	margin-left: 200%;
}
fieldset#thongtincn{
	text-align:left;
	margin-left:125%;
	height:350px;
	line-height:25px;
	padding-top:5px;
	padding-left:25px;
	padding-right:15px;
	border-radius: 15px;
}
section{
	width:400px;
	height:auto;
	padding:50px 60px;
	background-color:#FFF;
}
input[type="tex"] {
	width: 200px;
	box-sizing: border-box;
	border: 1px solid rgb(0, 0, 0);
	outline:none;
	padding: 5px 14px;

}
input[type="email"] {
	width: 200px;
	box-sizing: border-box;
	border: 1px solid rgb(0, 0, 0);
	outline:none;
	padding: 5px 14px;

}
input[type="tel"] {
	width: 200px;
	box-sizing: border-box;
	border: 1px solid rgb(0, 0, 0);
	outline:none;
	padding: 5px 14px;

}
input[type="del"] {
	width: 200px;
	height: 50px;
	box-sizing: border-box;
	border: 1px solid rgb(0, 0, 0);
	outline:none;
	padding: 5px 14px;

}
input[type="tell"] {
	width: 150px;
	box-sizing: border-box;
	border: 1px solid rgb(0, 0, 0);
	outline:none;
	padding: 5px 14px;

}
.gioo{
	width: 50%;
	margin: auto;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 400px;
}
.gioo table {
	width: 100%;
}
.gioo table thead tr th:first-child {
	text-align: left;
}

.gioo table tr td {
	border-bottom: 1px solid rgb(0, 0, 0) ;
	padding: 20px ;
}
.gioo{
	/* height: 80vh; */
	top: 75px;
}